  
  {% if post.featured_image %}
  <img class="img-responsive" src="{{ post.featured_image }}" title="{{ post.title }}">
  {% endif %}


<div class="content">
  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  {% if post.categories != empty %}
    <div class="categories">
      {% for category in post.categories %}
        <span>{{ category }}</span>
      {% endfor %}
    </div>
  {% endif %}
</div>