{% include header.html %}

    <!--{% include home-hero.html %} -->

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>My name is Xun Li. I am currently <i>the</i> developer and maintainer of <a href="https://geodacenter.github.io/">GeoDa</a> software. 
              I am also the creator of <a href="https://geodacenter.github.io/covid">US Covid Atlas</a>, <a href="https://lixun910.github.io/pygeoda">pygeoda</a>,
              <a href="https://lixun910.github.io/rgeoda">rgeoda</a>, <a href="https://webgeoda.github.io/">jsgeoda</a>, 
              <a href="https://postgeoda.github.io/">postgeoda</a>, <a href="https://geodacenter.github.io/CAST">CAST</a>...
            </p>
            <div class="break"></div>
            {% if site.section_title != '' %}
            <h2 class="section-title text-center">{{ site.section_title }}</h2>
            {% endif %}
            {% if site.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            {% for post in paginator.posts %}
              {% if post.tab == "software" %}
                <div class="wow fadeIn">
                {% if post.position == "left" %}
                  {% include content-left.html %}
                {% endif %}

                {% if post.position == "right" %}
                  {% include content-right.html %}
                {% endif %}
                </div>
              {% endif %}
            {% endfor %}


            <h2 class="section-title text-center">My reserch projects:</h2>

            <div class="break"></div>

            {% for post in paginator.posts %}
              {% if post.tab == "research" %}
                <div class="wow fadeIn">
                {% if post.position == "left" %}
                  {% include content-left.html %}
                {% endif %}

                {% if post.position == "right" %}
                  {% include content-right.html %}
                {% endif %}
                </div>
              {% endif %}
            {% endfor %}

            {% include pagination.html %}
          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
